[flake8]
max-line-length = 150

# it's not a bug that we aren't using all of hacking, ignore:
ignore =
  # W503 line break before binary operator
  W503,
  #  E266 too many leading '#' for block comment
  E266,
  #  E722 do not use bare 'except'
  E722
