version: "3.9"
services:
  d3fend-ontology:
    build:
      context: .
      args:
        ROBOT_URL: "https://github.com/ontodev/robot/releases/download/v1.8.3/robot.jar"
    volumes:
    - ./dist:/app/dist:z
    - ./src:/app/src:z
    command: |-
      build dist
