[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
ipdb = "*"

[packages]
rdflib = "6.0.2"
ttlser = {extras = ["ttlfmt"], version = "*"}
numpy = "*"
pandas = "*"
owlready2 = "*"
openpyxl = "*"
stix2 = "*"

[requires]
python_version = "3.9"
