name: Tests & Build

on:
  push:
    branches: [ develop, "release/**", "feature/**" ]
  pull_request:
    branches: [ develop ]

  workflow_dispatch:

jobs:
  #  test-pre-commit:
  #    timeout-minutes: 5
  #    # The type of runner that the job will run on
  #    runs-on: ubuntu-latest
  #    container: python:3.9
  #    steps:
  #      - uses: actions/checkout@v2
  #
  #      - name: Run commit hooks.
  #        run: |
  #          pip3 --no-cache-dir install pre-commit
  #          git --version
  #          pre-commit run -a
  #
  test-job:
    timeout-minutes: 5
    runs-on: ubuntu-latest
      #    needs: [ test-pre-commit ]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      run: |
        docker-compose build  --pull --force-rm d3fend-ontology

    - name: Test
      run:  docker-compose run --rm d3fend-ontology make test

    - name: Cleanup
      run: docker-compose down && docker-compose rm --force

    - uses: actions/upload-artifact@v3
      with:
        name: d3fend.ttl
        path: dist/public/d3fend.ttl
